config FMN_ADK
	bool "FMN ADK source files"

if FMN_ADK

config FMN_CRYPTO
	bool
	default y if !FMN_HARDCODED_PAIRING
	select OBERON_BACKEND
	select NORDIC_SECURITY_BACKEND
	select MBEDTLS_ENABLE_HEAP

config FMN_HARDCODED_PAIRING
	bool "FMN hardcoded pairing variant"

config FMN_PRODUCT_DATA
	hex "FMN Product Data value"
	default f86ae43a63829ed8

# BLE related configuration

config BT
	default y

config BT_PERIPHERAL
	default y

config BT_SMP
	default y

config BT_DEVICE_NAME
	default "Nordic_FMN"

config BT_L2CAP_TX_MTU
	default 247

config BT_L2CAP_RX_MTU
	default 247

config BT_RX_BUF_LEN
	default 255

config BT_CTLR_TX_BUFFER_SIZE
	default 251

config BT_CTLR_DATA_LENGTH_MAX
	default 251

# Logger configuration

module = FMN_ADK
module-str = FMN_ADK
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # FMN_ADK
