config FMN_ADK
	bool "Enable FMN ADK"

if FMN_ADK

config FMN_STORAGE
	bool
	default y if !FMN_HARDCODED_PAIRING
	select FLASH
	select FLASH_MAP
	select NVS
	select SETTINGS

config FMN_CRYPTO
	bool
	default y if !FMN_HARDCODED_PAIRING
	select OBERON_BACKEND
	select NORDIC_SECURITY_BACKEND
	select MBEDTLS_ENABLE_HEAP

config FMN_HARDCODED_PAIRING
	bool "FMN hardcoded pairing variant"

config FMN_DEBUG
	bool "Enable FMN with Debug capabilities"

# AIS configuration
menu "Accessory Information Service (AIS)"

config FMN_PRODUCT_DATA
	hex "FMN Product Data"
	default 0

config FMN_MANUFACTURER_NAME
	string "FMN Manufacturer Name"
	default "Manufacturer"

config FMN_MODEL_NAME
	string "FMN Model Name"
	default "Model"

config FMN_ACC_CATEGORY
	int "FMN Accessory Category"
	range 1 167
	default 128

config FMN_ACC_CAPABILITY_PLAY_SOUND_ENABLED
	bool "FMN Accessory Capability: declare sound playing capability"

config FMN_ACC_CAPABILITY_DETECT_MOTION_ENABLED
	bool "FMN Accessory Capability: declare motion detecting capability"

config FMN_ACC_CAPABILITY_NFC_SN_LOOKUP_ENABLED
	bool "FMN Accessory Capability: declare Serial Number NFC lookup capability"

config FMN_ACC_CAPABILITY_BLE_SN_LOOKUP_ENABLED
	bool "FMN Accessory Capability: declare Serial Number BLE lookup capability"

config FMN_ACC_CAPABILITY_FW_UPDATE_SVC_ENABLED
	bool "FMN Accessory Capability: declare Firmware Update Service capability"

choice
	prompt "FMN battery type"
	default FMN_BATTERY_TYPE_POWERED

config FMN_BATTERY_TYPE_POWERED
	bool "Powered"

config FMN_BATTERY_TYPE_NON_RECHARGEABLE
	bool "Non-rechargeable battery"

config FMN_BATTERY_TYPE_RECHARGEABLE
	bool "Rechargeable battery"

endchoice

endmenu

# BLE related configuration

config BT
	default y

config BT_PERIPHERAL
	default y

config BT_SMP
	default y

config BT_DEVICE_NAME
	default "Nordic_FMN"

config BT_L2CAP_TX_MTU
	default 247

config BT_L2CAP_RX_MTU
	default 247

config BT_CTLR_TX_BUFFER_SIZE
	default 251

config BT_CTLR_DATA_LENGTH_MAX
	default 251

config BT_EXT_ADV
	default y

config BT_CTLR_ADV_EXT
	default y

# Logger configuration

module = FMN_ADK
module-str = FMN_ADK
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # FMN_ADK
